<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :questiontext %>
    <%= form.text_area :questiontext, id: :question_questiontext %>
  </div>

  <div class="field">
    <%= form.label :Genre_id %>
    <%= form.text_field :Genre_id, id: :question_Genre_id %>
  </div>

  <div class="field">
    <%= form.label :Subgenre_id %>
    <%= form.text_field :Subgenre_id, id: :question_Subgenre_id %>
  </div>

  <div class="field">
    <%= form.label :qtype %>
    <%= form.number_field :qtype, id: :question_qtype %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
