<!DOCTYPE html>
<html>
<body>

	<p id="notice"><%= notice %></p>

	<p>
		<strong>Questiontext:</strong>
		<%= @question.questiontext %>
	</p>

	<p>
		<strong>Genre:</strong>
		<%= @question.Genre %>
	</p>

	<p>
		<strong>Subgenre:</strong>
		<%= @question.Subgenre %>
	</p>

	<p>
		<strong>Qtype:</strong>
		<%= @question.qtype %>
	</p>

	<%= link_to 'Edit', edit_question_path(@question) %> |
	<%= link_to 'Back', questions_path %>
</body>
</html>